.outerButton{

  --symbolColor: var(--main);
  --textColor: var(--white);

  position: relative;
  display: flex;
  gap: 0.2em;
  line-height: 40%;
  padding-inline: 0.5em;

  user-select: none;

}

.outerButton:hover, .outerButton:target, .outerButton:focus{

  cursor: pointer;
  background-color: var(--main);
  --symbolColor: var(--black);
  --textColor: var(--black);

  outline: 0;
  
}

.outerButton:not(:first-child)::before {

  content: "";
  position: absolute;
  margin-top: -0.1em;
  left: 0.5em;
  right: 0.5em;
  height: 0.1em;
  border-radius: 5em;
  background-color: var(--darkGray);

}

.symbol{
  font-size: large;
  color: var(--symbolColor);
}

.name{
  font-size: small;
  color: var(--textColor);
}

.leftSide{
  text-align: left;
  flex-basis: 50%;
  margin-right: 0.2em;
}

.rightSide{
  text-align: right;
  flex-basis: 50%;
}
