

.actionBar{
  display: flex;
  gap: 1em;
  justify-content: center;
}

.addOrder {
  background-color: var(--main);
  color: var(--black);

  font-size: large;
  font-weight: 700;

  padding-inline: 0.5em;
  padding-block: 0.25em;  
}

.removeStrategy{
  background-color: var(--red);
  color: var(--white);
}

.fullscreenBackground{
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: var(--darkGray);
  backdrop-filter: blur(10px);

  z-index: 5;
}

.configWindowBackground{

  display: flex;
  flex-direction: column;
  align-items: center;
  
  flex: 1 0;

  margin-inline: 1em;
  padding: 1em;

  overflow-y: auto;

  max-width: 50em;
  min-width: 15em;
  height: 90%;

  position: relative;
  background-color: var(--blackDrop);

}

.configWindowBackground::-webkit-scrollbar-thumb{
  background-color: var(--white);
}

.titleInput{
  background-color: transparent;
  color:var(--white)
}