.automateContainer{
  display: flex;
  flex-direction: column;
  max-width: 40em;
}

.addOrder {
  background-color: var(--main);
  color: var(--black);

  font-size: large;
  font-weight: 700;

  padding-inline: 0.5em;
  padding-block: 0.25em;

  border: 0;
  border-radius: var(--borderRadius);

  cursor: pointer;
}

.bottomContainer {
  display: flex;
  flex-grow: 1;
}

.slotInfo {
  color: var(--main);
  margin: auto;
}

.saveButton {
  background: green;
  color: var(--white);
}

