.layoutWithTitle {
  display: flex;
  flex-direction: column;
  flex: 1;

  height: 100%;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  align-items: center;

  gap: 1em;
}

.layoutWithTitle > h1 {
  line-height: 0;
  color: var(--white);
  text-align: center;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;

  height: 100%;
  width: 100%;
  max-width: 60em;
  
  gap: 1em;
  padding-inline: 1em;

  overflow-y: auto;
}

.left {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1em;
  min-height: 0;
  max-height: 100%;
  min-width: 15em;
  max-width: 35em;
}

.right {
  display: flex;
  flex: 1;
  max-height: 100%;
  min-height: 0;
  min-width: 20em;
  max-width: 35em;
}
