.layout {
  display: flex;
  flex-wrap: wrap;
  flex: 1;

  gap: 1em;

  height: 100%;
  min-width: 0;
  max-width: 50em;
  padding-inline: auto;
  margin: auto;

  overflow-y: auto;

  justify-content: center;
}

.left {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1em;
  min-height: 0;
  max-height: 100%;
  min-width: 20em;
  max-width: 35em;
  
  margin-inline: 0.5em;
}

.right {
  display: flex;
  flex: 1;
  max-height: 100%;
  min-height: 0;
  min-width: 20em;
  max-width: 35em;

  margin-inline: 0.5em;
}
