.authButton {
  display: flex;
  align-items: center;
  flex-grow: 0;

  font-size: large;

  padding-block: 0.5em;
  padding-inline: 1em;
  border-radius: 0.5rem;
}

.signIn {
  margin-left: auto;
  margin-right: 0.5em;

  > a {
    background-color: var(--main);
    color: var(--black);
  }

  :hover {
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.2);
  }
}

.signOut {
  > a {
    background-color: rgb(133, 0, 0);
    color: var(--white);
  }

  :hover {
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.2);
  }
}
