.actionList{

  display: flex;
  flex-direction: column;
  flex: 1;

  overflow-y: auto;
  min-width: 20em;

  overscroll-behavior: auto;

  background-color: var(--darkGray);
  color: var(--white);

  align-items: center;

}

.actionList > h3 {
  text-align: center;
}

.shallowAction{

  display: flex;
  width: 50%;
  justify-content: space-between;

}

.action{
  text-align: left;
}

.value{
  text-align: right;
}