.searchInput {

  margin-left: auto;
  margin-right: 1em;

  > form {
    position: relative;
    display: flex;
    flex-grow: 0;
    > input {
      border: 0;
      background-color: var(--black);
      color: var(--white);
      font-size: large;
      width: 8em;
      border-radius: 2em;
      padding-inline: 0.5em;
      padding-block: 0.25em;

      &::placeholder {
        text-align: left;
        color: var(--gray);
      }

      &:focus-visible {
        outline: var(--main) solid 0.2em;
      }
    }

    &::before {
      content: "";
      background-image: url("/svg/raw/magnify.svg");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;

      //Randomly found these values
      width: 1em;
      right: 0;
      bottom: 0;
      top: 50%;
      transform: translate(15%, -60%);
    }
  }

  .hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
