.transactionContainer {
  background-color: var(--darkGray);
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.transactionContainer > h3 {
  text-align: center;
}

.transactionList{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow-y: auto;
  padding-inline: 1em;
  margin-block-end: 1em;
}

.transactionElement {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;

  background-color: var(--darkGray);
  padding: 0.25em;
}

.action,
.amount,
.value {
  color: var(--white);
  font-size: small;
  font-weight: 500;
}

.action {
  grid-column: 1;
  grid-row: 1 / 3;
  margin: auto;
}

.amount {
  grid-column: 2;
  grid-row: 1;
  margin: auto;
}

.amount::before {
  content: "Units";
  margin-inline-end: 1em;
}

.value {
  grid-column: 2;
  grid-row: 2;
  margin: auto;
}

.value::before {
  content: "Value";
  margin-inline-end: 1em;
}
