@keyframes Spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }
    
}

.header {
  position: sticky;
  display: flex;
  width: 100%;

  font-size: xx-large;
  font-weight: bolder;
  color: var(--main);

  padding-block: 0.5em;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;

    > svg {
      min-width: 1em;
      min-height: 1em;
      width: 1.2em;
      height: 1.2em;
      margin-left: 0.5em;
      margin-right: 0.2em;
      animation: Spin 5s infinite linear;
    }
  }

  .profile {
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    overflow: hidden;

    margin-left: auto;
    margin-right: 0.4em;
    padding: 0.1em;

    background-color: var(--white);
    outline: 0.1em solid var(--black);
    box-shadow: 0 0 0 0.15em var(--white);

    cursor: pointer;
  }
}
