:root{

  --main: #FCD535;
  --black: #282825;
  --white: #FCFBF4;

}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--black);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Oxygen, Segoe UI,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
